Repository tkraussionx/tt-metal, changes with the owners that CODEOWNERS names for each.
All owners: @tt-rkim, @ttmchiou, @TT-billteng, @xanderchin, @jdesousa-TT, @sjameelTT, @davorchap, @vtangTT, @afuller-TT, @blozano-tt, @cfjchu, @SeanNijjar, @aliuTT, @tt-aho, @TT-BrianLiu, @abhullar-tt, @pgkeller, @tt-dma, @tt-asaigal, @ubcheema, @rtawfik01, @rdjogoTT, @ttmtrajkovic, @mywoodstock, @ntarafdar, @mo-tenstorrent, @ayerofieiev-tt, @dmakoviichuk-tt, @razorback3, @dongjin-na, @yan-zaretskiy, @shwetankTT, @sankarmanoj-tt, @pavlejosipovic, @bbradelTT, @jaykru-tt, @yugi957, @yugaoTT, @patrickroberts, @eyonland, @rfurko-tt, @nkpatel-tt, @uaydonat, @esmalTT, @cglagovichTT, @yieldthought, @mtairum, @skhorasganiTT, @djordje-tt, @kpaigwar, @johanna-rock-tt

#0: debug pcc mismatch for 16x32x16 matmul tiny tile 16x16
  tests/ttnn/unit_tests/operations/test_matmul.py
  ttnn/cpp/ttnn/operations/matmul/device/kernels/compute/bmm_large_block_zm_fused_bias_activation.cpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @bbradelTT, @yugaoTT

#13869: Move noc_size and allocator decleration to core_config
  tt_metal/hw/inc/blackhole/core_config.h
  tt_metal/hw/inc/grayskull/core_config.h
  tt_metal/hw/inc/wormhole/core_config.h
  tt_metal/jit_build/genfiles.cpp
Owners: @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema

#13869: Eliminate IS_NOT_POW2 and LOG_BASE_2 defines from DRAM and L1 banks
  tests/tt_metal/tt_metal/test_kernels/misc/ping_legal_l1s.cpp
  tt_metal/hw/inc/dataflow_api.h
  tt_metal/jit_build/genfiles.cpp
Owners: @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema

#0: Results of pytorch2 concat sweeps
  tests/sweep_framework/sweeps/data_movement/concat/concat_pytorch2.py
  ttnn/cpp/ttnn/operations/data_movement/common/common.cpp
  ttnn/cpp/ttnn/operations/data_movement/common/common.hpp
  ttnn/cpp/ttnn/operations/data_movement/concat/concat.cpp
  ttnn/cpp/ttnn/operations/data_movement/concat/device/concat_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/auto_format/auto_format.hpp
Owners: @sjameelTT, @ntarafdar, @jaykru-tt, @yugi957, @ayerofieiev-tt, @dmakoviichuk-tt, @cfjchu, @TT-BrianLiu

#13078: fixed race condition in max pool large reader kernel
  tests/ttnn/unit_tests/operations/test_maxpool2d.py
  ttnn/cpp/ttnn/operations/pool/maxpool/device/kernels/compute/max_pool_multi_core_large_kernel.cpp
  ttnn/cpp/ttnn/operations/pool/maxpool/device/kernels/dataflow/reader_max_pool_2d_multi_core_sharded_with_halo_large_kernel_v2.cpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @mywoodstock, @shwetankTT, @sankarmanoj-tt, @pavlejosipovic

#13569: Add SFPSHFT2 test
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/ckernel_sfpu_sfpshft2_test.h
  tt_metal/hw/ckernels/wormhole_b0/metal/llk_api/llk_sfpu/llk_math_eltwise_unary_sfpu_sfpshft2_test.h
  tt_metal/include/compute_kernel_api/eltwise_unary/sfpshft2_test.h
  ttnn/CMakeLists.txt
  ttnn/cpp/pybind11/operations/__init__.hpp
  ttnn/cpp/ttnn/operations/sfpshft2_test/device/kernels/reader_sfpshft2_test.cpp
  ttnn/cpp/ttnn/operations/sfpshft2_test/device/kernels/sfpshft2_test.cpp
  ttnn/cpp/ttnn/operations/sfpshft2_test/device/kernels/writer_sfpshft2_test.cpp
  ttnn/cpp/ttnn/operations/sfpshft2_test/device/sfpshft2_test_device_operation.hpp
  ttnn/cpp/ttnn/operations/sfpshft2_test/device/sfpshft2_test_program_factory.cpp
  ttnn/cpp/ttnn/operations/sfpshft2_test/sfpshft2_test.hpp
  ttnn/cpp/ttnn/operations/sfpshft2_test/sfpshft2_test_pybind.hpp
Owners: @rtawfik01, @rdjogoTT, @ttmtrajkovic, @ayerofieiev-tt, @dmakoviichuk-tt, @yan-zaretskiy, @cfjchu, @TT-BrianLiu

Resolve Comments.
  tests/ttnn/unit_tests/operations/test_new_conv2d.py
  ttnn/cpp/ttnn/operations/conv/conv2d/conv2d.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/conv_bmm_tilize_col_major_out_blocks.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/reader_conv_activations_2d_mcast_padded_with_halo_3x3_weights_v2.cpp
Owners: @mywoodstock, @sankarmanoj-tt, @shwetankTT, @pavlejosipovic, @bbradelTT

#13078: removed interm_reduction_cb_id stuff so height sharding will work
  ttnn/cpp/ttnn/operations/pool/maxpool/device/kernels/compute/max_pool_multi_core_large_kernel.cpp
  ttnn/cpp/ttnn/operations/pool/maxpool/device/kernels/dataflow/reader_max_pool_2d_multi_core_sharded_with_halo_large_kernel_v2.cpp
Owners: @mywoodstock, @shwetankTT, @sankarmanoj-tt, @pavlejosipovic

Remove Debug statements and commented code.
  ttnn/cpp/ttnn/operations/conv/conv2d/device/conv2d_op_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/writer_tiled_out_2d_mcast_receiver_conv_weights_tiled_col_to_rm_blocks.cpp
  ttnn/cpp/ttnn/operations/conv/conv2d/device/kernels/writer_tiled_out_2d_mcast_sender_conv_weights_tiled_col_to_rm_blocks.cpp
Owners: @mywoodstock, @shwetankTT, @sankarmanoj-tt, @pavlejosipovic, @bbradelTT

#12516: Moved launch op fully to invoke side
  ttnn/cpp/ttnn/operations/ccl/barrier/barrier.cpp
  ttnn/cpp/ttnn/operations/ccl/barrier/barrier.hpp
  ttnn/cpp/ttnn/operations/ccl/barrier/device/barrier_op.cpp
Owners: @SeanNijjar, @cfjchu

#13078: block and width shard pass with large kernel as long as stride is (2,2) not (1,1)
  tests/ttnn/unit_tests/operations/test_maxpool2d.py
  ttnn/cpp/ttnn/operations/pool/maxpool/device/kernels/compute/max_pool_multi_core_large_kernel.cpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @mywoodstock, @shwetankTT, @sankarmanoj-tt, @pavlejosipovic

#14260: maxpool bugfix -- when data is odd, need to pad cores
  ttnn/cpp/ttnn/operations/pool/maxpool/device/max_pool2d_multi_core_program_factory.cpp
Owners: @mywoodstock, @shwetankTT, @sankarmanoj-tt, @pavlejosipovic

#13931: Move index_size to compile time
  ttnn/cpp/ttnn/operations/index_fill/device/index_fill_multi_core_factory.cpp
  ttnn/cpp/ttnn/operations/index_fill/device/kernels/reader_index_fill.cpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @cfjchu, @TT-BrianLiu

#13931: Implement index fill
  tests/ttnn/unit_tests/operations/test_index_fill.py
  ttnn/CMakeLists.txt
  ttnn/cpp/pybind11/operations/__init__.hpp
  ttnn/cpp/ttnn/operations/index_fill/device/index_fill_device_operation.cpp
  ttnn/cpp/ttnn/operations/index_fill/device/index_fill_device_operation.hpp
  ttnn/cpp/ttnn/operations/index_fill/device/index_fill_multi_core_factory.cpp
  ttnn/cpp/ttnn/operations/index_fill/device/kernels/reader_index_fill.cpp
  ttnn/cpp/ttnn/operations/index_fill/device/kernels/writer_index_fill.cpp
  ttnn/cpp/ttnn/operations/index_fill/index_fill.cpp
  ttnn/cpp/ttnn/operations/index_fill/index_fill.hpp
  ttnn/cpp/ttnn/operations/index_fill/index_fill_pybind.cpp
  ttnn/cpp/ttnn/operations/index_fill/index_fill_pybind.hpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @yan-zaretskiy

#0: fix tt_elffile
  tt_metal/llrt/tt_elffile.cpp
Owners: @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema

#0: phdrs
  tt_metal/hw/toolchain/sections.ld
  tt_metal/llrt/tt_elffile.cpp
Owners: @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema

#0: fix tt_elffile zero-length sections
  tt_metal/llrt/tt_elffile.cpp
Owners: @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema

#0: add stack segment knowledge
  tt_metal/llrt/tt_elffile.cpp
Owners: @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema

#0: fix tt_elffile zero-length sections
  tt_metal/llrt/tt_elffile.cpp
Owners: @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema

#0: fix tt_elffile zero-length sections
  tt_metal/llrt/tt_elffile.cpp
Owners: @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema

#0: fix tt_elffile zero-length sections
  tt_metal/llrt/tt_elffile.cpp
Owners: @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema

#13078: pad cores bug fix and expanded test cases
  tests/ttnn/unit_tests/operations/test_maxpool2d.py
  ttnn/cpp/ttnn/operations/pool/maxpool/device/max_pool2d_multi_core_program_factory.cpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @mywoodstock, @shwetankTT, @sankarmanoj-tt, @pavlejosipovic

#13078: added intermediate buffer push and wait in large kernel, also lots of debug stuff
  tests/ttnn/unit_tests/operations/test_maxpool2d.py
  ttnn/cpp/ttnn/operations/pool/maxpool/device/kernels/compute/max_pool_multi_core_large_kernel.cpp
  ttnn/cpp/ttnn/operations/pool/maxpool/device/kernels/dataflow/reader_max_pool_2d_multi_core_sharded_with_halo_large_kernel_v2.cpp
  ttnn/cpp/ttnn/operations/pool/maxpool/device/kernels/dataflow/reader_max_pool_2d_multi_core_sharded_with_halo_v2.cpp
  ttnn/cpp/ttnn/operations/pool/maxpool/device/max_pool2d_multi_core_program_factory.cpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @mywoodstock, @shwetankTT, @sankarmanoj-tt, @pavlejosipovic

#13078: fixed race condition in max pool large reader kernel
  tests/ttnn/unit_tests/operations/test_maxpool2d.py
  ttnn/cpp/ttnn/operations/pool/maxpool/device/kernels/compute/max_pool_multi_core_large_kernel.cpp
  ttnn/cpp/ttnn/operations/pool/maxpool/device/kernels/dataflow/reader_max_pool_2d_multi_core_sharded_with_halo_large_kernel_v2.cpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @mywoodstock, @shwetankTT, @sankarmanoj-tt, @pavlejosipovic

#13078: pad cores bug fix and expanded test cases
  tests/ttnn/unit_tests/operations/test_maxpool2d.py
  ttnn/cpp/ttnn/operations/pool/maxpool/device/max_pool2d_multi_core_program_factory.cpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @mywoodstock, @shwetankTT, @sankarmanoj-tt, @pavlejosipovic

#0: failing case with block sharding in maxpool
  tests/ttnn/unit_tests/operations/test_maxpool2d.py
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na

#13078: removed interm_reduction_cb_id stuff so height sharding will work
  ttnn/cpp/ttnn/operations/pool/maxpool/device/kernels/compute/max_pool_multi_core_large_kernel.cpp
  ttnn/cpp/ttnn/operations/pool/maxpool/device/kernels/dataflow/reader_max_pool_2d_multi_core_sharded_with_halo_large_kernel_v2.cpp
Owners: @mywoodstock, @shwetankTT, @sankarmanoj-tt, @pavlejosipovic

#13078: block and width shard pass with large kernel as long as stride is (2,2) not (1,1)
  tests/ttnn/unit_tests/operations/test_maxpool2d.py
  ttnn/cpp/ttnn/operations/pool/maxpool/device/kernels/compute/max_pool_multi_core_large_kernel.cpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @mywoodstock, @shwetankTT, @sankarmanoj-tt, @pavlejosipovic

#13078: adding syncing infrastructure for intermediate buffer
  ttnn/cpp/ttnn/operations/pool/maxpool/device/kernels/compute/max_pool_multi_core_large_kernel.cpp
  ttnn/cpp/ttnn/operations/pool/maxpool/device/kernels/dataflow/reader_max_pool_2d_multi_core_sharded_with_halo_large_kernel_v2.cpp
Owners: @mywoodstock, @shwetankTT, @sankarmanoj-tt, @pavlejosipovic

#13869: Undo L1 changes to check CI tests
  tt_metal/hw/inc/dataflow_api.h
  tt_metal/jit_build/genfiles.cpp
Owners: @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema

#0: Fixup
  ttnn/cpp/ttnn/operations/data_movement/reshape_view/reshape_pybind.cpp
  ttnn/cpp/ttnn/operations/data_movement/slice/slice_pybind.hpp
  ttnn/cpp/ttnn/operations/experimental/reduction/fast_reduce_nc/fast_reduce_nc_pybind.cpp
Owners: @ntarafdar, @sjameelTT, @jaykru-tt, @yugi957, @ayerofieiev-tt, @dmakoviichuk-tt, @cfjchu, @TT-BrianLiu

#0: Rebase fixes
  ttnn/cpp/ttnn/operations/data_movement/repeat/repeat.cpp
  ttnn/cpp/ttnn/operations/data_movement/slice/slice.cpp
  ttnn/cpp/ttnn/operations/data_movement/slice/slice.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary_backward/binary_backward.cpp
Owners: @ntarafdar, @sjameelTT, @jaykru-tt, @yugi957, @patrickroberts, @yan-zaretskiy, @eyonland

#0: Fix UB - access out of bounds in SqueezeOperation
  ttnn/cpp/ttnn/operations/data_movement/squeeze/squeeze.cpp
Owners: @ntarafdar, @sjameelTT, @jaykru-tt, @yugi957

#0: Review fixes
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/operations/moreh/moreh_getitem/device/moreh_getitem_device_operation.cpp
  ttnn/cpp/ttnn/tensor/small_vector.hpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @yan-zaretskiy, @razorback3, @dongjin-na, @cfjchu

#0: Rebase fix
  ttnn/cpp/ttnn/operations/data_movement/slice/slice.cpp
Owners: @ntarafdar, @sjameelTT, @jaykru-tt, @yugi957

#0: Try to fix python
  ttnn/cpp/ttnn/tensor/vector_base.hpp
Owners: @cfjchu, @ayerofieiev-tt, @dmakoviichuk-tt

#0: Remove VectorBase, cleanup
  tt_metal/common/test_tiles.hpp
  ttnn/cpp/ttnn/tensor/CMakeLists.txt
  ttnn/cpp/ttnn/tensor/small_vector.hpp
  ttnn/cpp/ttnn/tensor/tensor_impl.hpp
  ttnn/cpp/ttnn/tensor/types.cpp
  ttnn/cpp/ttnn/tensor/types.hpp
  ttnn/cpp/ttnn/tensor/vector_base.cpp
  ttnn/cpp/ttnn/tensor/vector_base.hpp
Owners: @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema, @cfjchu, @ayerofieiev-tt, @dmakoviichuk-tt

#0: Use tt::stl::Span
  best_practices.md
  ttnn/cpp/pybind11/pytensor.cpp
  ttnn/cpp/ttnn/operations/data_movement/pad/pad.cpp
  ttnn/cpp/ttnn/operations/data_movement/pad/pad.hpp
  ttnn/cpp/ttnn/operations/data_movement/permute/permute.cpp
  ttnn/cpp/ttnn/operations/data_movement/permute/permute.hpp
  ttnn/cpp/ttnn/operations/data_movement/reshape_on_device/reshape.cpp
  ttnn/cpp/ttnn/operations/data_movement/reshape_on_device/reshape.hpp
  ttnn/cpp/ttnn/operations/data_movement/reshape_view/reshape.cpp
  ttnn/cpp/ttnn/operations/data_movement/reshape_view/reshape.hpp
  ttnn/cpp/ttnn/operations/data_movement/slice/slice.cpp
  ttnn/cpp/ttnn/operations/data_movement/slice/slice.hpp
  ttnn/cpp/ttnn/operations/experimental/reduction/fast_reduce_nc/device/fast_reduce_nc_device_operation.cpp
  ttnn/cpp/ttnn/operations/experimental/reduction/fast_reduce_nc/device/fast_reduce_nc_device_operation.hpp
  ttnn/cpp/ttnn/operations/experimental/reduction/fast_reduce_nc/fast_reduce_nc.cpp
  ttnn/cpp/ttnn/operations/experimental/reduction/fast_reduce_nc/fast_reduce_nc.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum_backward/device/moreh_sum_backward_device_operation.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum_backward/device/moreh_sum_backward_device_operation.hpp
  ttnn/cpp/ttnn/tensor/tensor_impl.hpp
  ttnn/cpp/ttnn/tensor/tensor_utils.cpp
  ttnn/cpp/ttnn/tensor/tensor_utils.hpp
  ttnn/cpp/ttnn/tensor/types.cpp
  ttnn/cpp/ttnn/tensor/types.hpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @cfjchu, @TT-BrianLiu, @ntarafdar, @sjameelTT, @jaykru-tt, @yugi957, @razorback3, @dongjin-na

#0: resolve multi-link line reduce scatter PCC issues
  tests/ttnn/unit_tests/operations/ccl/test_reduce_scatter_TG_nightly.py
  tests/ttnn/unit_tests/operations/ccl/test_reduce_scatter_post_commit.py
  ttnn/cpp/ttnn/operations/ccl/reduce_scatter/device/host/reduce_scatter_full_worker_grid.cpp
  ttnn/cpp/ttnn/operations/ccl/reduce_scatter/host/reduce_scatter_common.cpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @SeanNijjar

#13644: Add support for tensor-scalar binary ops
  .clang-tidy
  ttnn/cpp/ttnn/operations/data_movement/bcast/device/kernels/dataflow/reader_bcast_scalar_interleaved_partitioned.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/binary.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/binary.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/binary_device_operation.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/binary_device_operation.hpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/broadcast_height_and_width_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/broadcast_height_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/broadcast_height_multi_core_sharded_optimized_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/broadcast_height_multi_core_sharded_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/broadcast_width_multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/eltwise/binary/device/element_wise_multi_core_program_factory.cpp
Owners: @ntarafdar, @sjameelTT, @jaykru-tt, @yugi957, @patrickroberts, @yan-zaretskiy, @eyonland

CODEOWNERS:

# Order is important; the last matching pattern takes the most
# precedence.

.github/ @tt-rkim @ttmchiou @TT-billteng
.github/workflows/ttnn-run-sweeps.yaml @xanderchin @jdesousa-TT @sjameelTT

/infra/ @tt-rkim

CONTRIBUTING.md @tt-rkim

CODEOWNERS @tt-rkim

INSTALLING.md @tt-rkim @TT-billteng
METALIUM_GUIDE.md @davorchap

# Dependencies

third_party/ @tt-rkim @TT-billteng

# Build stuff

MANIFEST.in @tt-rkim
setup.py @tt-rkim
pyproject.toml @tt-rkim @TT-billteng
requirements*.txt @tt-rkim @TT-billteng @ttmchiou
setup_hugepages.py @tt-rkim @TT-billteng

scripts/docker @TT-billteng
scripts/build_scripts/ @tt-rkim @vtangTT @TT-billteng
cmake/ @tt-rkim @vtangTT @TT-billteng @afuller-TT
build_metal.sh @tt-rkim @vtangTT @TT-billteng

Makefile @tt-rkim
/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng @blozano-tt @afuller-TT
tests/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng @blozano-tt @afuller-TT

# Testing scripts and infra

conftest.py @tt-rkim
/conftest.py @tt-rkim @cfjchu @SeanNijjar

tests/scripts/run_pre_post_commit_regressions.sh @tt-rkim
tests/scripts/run_tests.sh @tt-rkim
tests/scripts/run_pre_post_commit_regressions_multi_device.sh @tt-rkim @aliuTT @tt-aho @TT-BrianLiu
tests/scripts/run_pre_post_commit_regressions_fast_dispatch.sh @tt-rkim @TT-billteng @ttmchiou
tests/scripts/run_models.sh @tt-rkim
tests/scripts/single_card/ @tt-rkim
tests/scripts/single_card/nightly/ @tt-rkim @vtangTT
tests/scripts/t3000/ @ttmchiou
tests/scripts/tg/ @ttmchiou
tests/scripts/tgg/ @ttmchiou

# metal - base
tt_metal/ @abhullar-tt @pgkeller @aliuTT @tt-aho @tt-dma @tt-asaigal @ubcheema
tt_metal/host_api.hpp @abhullar-tt @pgkeller @aliuTT @tt-aho @tt-dma @tt-asaigal @davorchap
tt_metal/impl/device/ @abhullar-tt @pgkeller @aliuTT @tt-aho @tt-dma @tt-asaigal @ubcheema @davorchap @cfjchu
tt_metal/distributed/ @cfjchu @aliuTT @tt-asaigal
tt_metal/**/requirements*.txt @tt-rkim @TT-billteng @ttmchiou

# metal - dispatch
tt_metal/impl/dispatch/kernels/packet_* @ubcheema @aliuTT
tt_metal/impl/dispatch/kernels/eth_* @ubcheema @aliuTT
# docs/source/tt_metal/apis/host_apis/ @TT-billteng
tests/tt_metal/tt_metal/perf_microbenchmark/routing/ @ubcheema

# metal - fw, llks, risc-v
tt_metal/hw/ckernels/ @rtawfik01 @rdjogoTT @ttmtrajkovic
tt_metal/hw/firmware/**/Makefile @tt-rkim
tt_metal/include/compute_kernel_api.h @davorchap @mywoodstock
tt_metal/include/compute_kernel_api/ @rtawfik01 @rdjogoTT @ttmtrajkovic
tt_metal/include/dataflow_kernel_api.h @davorchap @mywoodstock @ntarafdar
tt_metal/hw/firmware/riscv/common/dataflow_internals.h @davorchap @mywoodstock
tt_metal/hw/firmware/src/*erisc* @aliuTT @ubcheema
tt_metal/hw/inc/ethernet/ @aliuTT @ubcheema
tt_metal/hw/inc/wormhole/eth_l1_address_map.h @aliuTT @ubcheema
tt_metal/third_party/tt_llk_* @rtawfik01 @ttmtrajkovic @rdjogoTT

sfpi/ @pgkeller

# metal - profiler
tt_metal/**/profiler/ @mo-tenstorrent
tt_metal/**/profiler/**/CMakeLists.txt @tt-rkim @mo-tenstorrent
tests/tt_metal/tools/profiler/ @mo-tenstorrent
tt_metal/hostdevcommon/profiler_common.h @mo-tenstorrent
docs/source/performance_measurement_tools/profiler.rst @mo-tenstorrent
tt-metal/tt_metal/programming_examples/profiler @mo-tenstorrent

# test scripts
tests/scripts/run_profiler_regressions.sh @mo-tenstorrent @tt-rkim
tests/scripts/run_performance.sh @tt-rkim

# TTNN
ttnn/ @ayerofieiev-tt @dmakoviichuk-tt @cfjchu @TT-BrianLiu
ttnn/ttnn/library_tweaks.py @ayerofieiev-tt @tt-rkim
ttnn/ttnn/operations/moreh.py @razorback3 @dongjin-na @cfjchu @ayerofieiev-tt @dmakoviichuk-tt
ttnn/**/kernels/ # Removes the owners above from owning kernels unless specified afterwards
ttnn/**/CMakeLists.txt @ayerofieiev-tt @dmakoviichuk-tt @yan-zaretskiy
ttnn/cpp/ttnn/tensor/ @cfjchu @ayerofieiev-tt @dmakoviichuk-tt
ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/ccl/ @SeanNijjar
ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh*/ @razorback3 @dongjin-na @cfjchu @ayerofieiev-tt @dmakoviichuk-tt
ttnn/cpp/ttnn/deprecated/tt_lib/csrc/ @ayerofieiev-tt @razorback3 @dongjin-na

ttnn/cpp/ttnn/operations/moreh*/ @razorback3 @dongjin-na @cfjchu @ayerofieiev-tt @dmakoviichuk-tt
ttnn/cpp/ttnn/operations/ccl/ @SeanNijjar @cfjchu
ttnn/cpp/ttnn/operations/pool/ @mywoodstock @shwetankTT @sankarmanoj-tt @pavlejosipovic
ttnn/cpp/ttnn/operations/conv/ @mywoodstock @shwetankTT @sankarmanoj-tt @pavlejosipovic @bbradelTT
ttnn/cpp/ttnn/operations/sliding_window/ @mywoodstock @sankarmanoj-tt @pavlejosipovic
ttnn/cpp/ttnn/operations/data_movement/ @ntarafdar @sjameelTT @jaykru-tt @yugi957
ttnn/cpp/ttnn/operations/matmul/ @TT-BrianLiu @bbradelTT @yugaoTT
ttnn/cpp/ttnn/operations/experimental/matmul/ @TT-BrianLiu @bbradelTT @yugaoTT
ttnn/cpp/ttnn/operations/eltwise/ @patrickroberts @yan-zaretskiy @eyonland
ttnn/cpp/ttnn/operations/reduction/ @SeanNijjar @ntarafdar @sjameelTT
ttnn/cpp/ttnn/operations/normalization/ @yugaoTT @tt-aho
ttnn/cpp/ttnn/operations/embedding/ @ntarafdar @tt-aho @TT-BrianLiu
ttnn/cpp/ttnn/operations/embedding_backward/ @TT-BrianLiu @yan-zaretskiy
ttnn/ttnn/operations/eltwise @patrickroberts @yan-zaretskiy @eyonland
tests/ttnn/ @ayerofieiev-tt @dmakoviichuk-tt @rfurko-tt @cfjchu @TT-BrianLiu @razorback3 @dongjin-na
tests/ttnn/unit_tests/operations/eltwise/ @patrickroberts @yan-zaretskiy @eyonland
tests/sweep_framework/ @xanderchin @jdesousa-TT @sjameelTT
tests/sweep_framework/sweeps
tests/sweep_framework/sweeps/eltwise/ @patrickroberts @yan-zaretskiy @eyonland
tests/sweep_framework/sweeps/conv2d/  @nkpatel-tt @mywoodstock @shwetankTT @sankarmanoj-tt @pavlejosipovic
tests/sweep_framework/sweeps/data_movement/  @sjameelTT @ntarafdar @jaykru-tt @yugi957

# TTNN Distributed
ttnn/cpp/ttnn/distributed/ @cfjchu @ayerofieiev-tt @dmakoviichuk-tt
ttnn/ttnn/distributed/ @cfjchu @ayerofieiev-tt @dmakoviichuk-tt
tests/ttnn/distributed/ @cfjchu @ayerofieiev-tt @dmakoviichuk-tt

# models
/models/ @tt-rkim @uaydonat
/models/*/**
models/conv_on_device_utils*.py @mywoodstock @shwetankTT @sankarmanoj-tt
functional_*/ @uaydonat @esmalTT
models/demos @uaydonat @tt-rkim
models/demos/metal_BERT_large_11 @tt-aho @TT-BrianLiu
models/demos/wormhole @uaydonat @tt-rkim
models/demos/t3000 @uaydonat
models/demos/llama3 @cglagovichTT @yieldthought @mtairum @uaydonat
models/demos/falcon7b_common @skhorasganiTT @djordje-tt @uaydonat
models/demos/wormhole/mamba @esmalTT @uaydonat @kpaigwar
models/demos/wormhole/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/wormhole/mistral7b @yieldthought @uaydonat @mtairum
models/demos/wormhole/llama31_8b @yieldthought @mtairum @uaydonat
models/demos/wormhole/stable_diffusion @esmalTT @uaydonat @mywoodstock
models/demos/t3000/falcon40b @uaydonat @djordje-tt @johanna-rock-tt
models/demos/t3000/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/t3000/llama2_70b @cglagovichTT @uaydonat @johanna-rock-tt @djordje-tt @kpaigwar
models/demos/t3000/llama3_70b @cglagovichTT @uaydonat @johanna-rock-tt @djordje-tt @kpaigwar
models/demos/t3000/mixtral8x7b @yieldthought @mtairum @uaydonat
models/demos/tg/llama3_70b @cglagovichTT @uaydonat @johanna-rock-tt @djordje-tt @kpaigwar
models/demos/tg/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/grayskull @uaydonat @tt-rkim
models/demos/**/*resnet* @mywoodstock @shwetankTT @tt-aho
models/experimental/functional_unet @esmalTT @uaydonat @mywoodstock
models/perf/ @uaydonat @tt-rkim
models/perf/perf_report.py @yieldthought @uaydonat @tt-rkim
models/perf/benchmarking_utils.py @skhorasganiTT @tt-rkim

# docs
docs/source/ttnn/dependencies/tt_lib.rst @eyonland @patrickroberts @yan-zaretskiy @ayerofieiev-tt
docs/source/ttnn/ @eyonland @patrickroberts @yan-zaretskiy @ayerofieiev-tt @razorback3 @dongjin-na
# docs/source/apis/host_apis/ @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/host_apis2.rst @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/kernel_apis/ @davorchap @pgkeller @tt-rkim
# docs/source/apis/kernel_apis.rst @davorchap @pgkeller @tt-rkim

# misc
tests/**/dtx/ @mywoodstock @sankarmanoj-tt
tests/**/*test*conv*.py @mywoodstock @sankarmanoj-tt
tests/python_api_testing/conv/ @mywoodstock @sankarmanoj-tt
tests/python_api_testing/unit_testing/fallback_ops @tt-aho
tests/ttnn/integration_tests/stable_diffusion @esmalTT @uaydonat @mywoodstock
tests/device_perf_tests/stable_diffusion/test_perf_stable_diffusion.py @esmalTT @uaydonat @mywoodstock
tests/ttnn/integration_tests/unet @esmalTT @uaydonat @mywoodstock
tests/nightly/wh_b0_only_eth/experimental/functional_unet @esmalTT @uaydonat @mywoodstock
scripts/profiler/ @mo-tenstorrent
scripts/docker @ttmchiou @TT-billteng @tt-rkim

dockerfile @ttmchiou @TT-billteng @tt-rkim

tt_metal/CMakeLists.txt @abhullar-tt @pgkeller @aliuTT @tt-aho @tt-dma @tt-asaigal @ubcheema @blozano-tt
ttnn/CMakeLists.txt @ayerofieiev-tt @dmakoviichuk-tt @yan-zaretskiy
