Repository tkraussionx/tt-metal, changes with the owners that CODEOWNERS names for each.
All owners: @tt-rkim, @ttmchiou, @TT-billteng, @xanderchin, @jdesousa-TT, @sjameelTT, @davorchap, @vtangTT, @afuller-TT, @blozano-tt, @cfjchu, @SeanNijjar, @aliuTT, @tt-aho, @TT-BrianLiu, @abhullar-tt, @pgkeller, @tt-dma, @tt-asaigal, @ubcheema, @rtawfik01, @rdjogoTT, @ttmtrajkovic, @mywoodstock, @ntarafdar, @mo-tenstorrent, @ayerofieiev-tt, @dmakoviichuk-tt, @razorback3, @dongjin-na, @yan-zaretskiy, @shwetankTT, @sankarmanoj-tt, @pavlejosipovic, @bbradelTT, @jaykru-tt, @yugi957, @yugaoTT, @patrickroberts, @eyonland, @rfurko-tt, @nkpatel-tt, @uaydonat, @esmalTT, @cglagovichTT, @yieldthought, @mtairum, @skhorasganiTT, @djordje-tt, @kpaigwar, @johanna-rock-tt

CODEOWNERS:

# Order is important; the last matching pattern takes the most
# precedence.

.github/ @tt-rkim @ttmchiou @TT-billteng
.github/workflows/ttnn-run-sweeps.yaml @xanderchin @jdesousa-TT @sjameelTT

/infra/ @tt-rkim

CONTRIBUTING.md @tt-rkim

CODEOWNERS @tt-rkim

INSTALLING.md @tt-rkim @TT-billteng
METALIUM_GUIDE.md @davorchap

# Dependencies

third_party/ @tt-rkim @TT-billteng

# Build stuff

MANIFEST.in @tt-rkim
setup.py @tt-rkim
pyproject.toml @tt-rkim @TT-billteng
requirements*.txt @tt-rkim @TT-billteng @ttmchiou
setup_hugepages.py @tt-rkim @TT-billteng

scripts/docker @TT-billteng
scripts/build_scripts/ @tt-rkim @vtangTT @TT-billteng
cmake/ @tt-rkim @vtangTT @TT-billteng @afuller-TT
build_metal.sh @tt-rkim @vtangTT @TT-billteng

Makefile @tt-rkim
/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng @blozano-tt @afuller-TT
tests/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng @blozano-tt @afuller-TT

# Testing scripts and infra

conftest.py @tt-rkim
/conftest.py @tt-rkim @cfjchu @SeanNijjar

tests/scripts/run_pre_post_commit_regressions.sh @tt-rkim
tests/scripts/run_tests.sh @tt-rkim
tests/scripts/run_pre_post_commit_regressions_multi_device.sh @tt-rkim @aliuTT @tt-aho @TT-BrianLiu
tests/scripts/run_pre_post_commit_regressions_fast_dispatch.sh @tt-rkim @TT-billteng @ttmchiou
tests/scripts/run_models.sh @tt-rkim
tests/scripts/single_card/ @tt-rkim
tests/scripts/single_card/nightly/ @tt-rkim @vtangTT
tests/scripts/t3000/ @ttmchiou
tests/scripts/tg/ @ttmchiou
tests/scripts/tgg/ @ttmchiou

# metal - base
tt_metal/ @abhullar-tt @pgkeller @aliuTT @tt-aho @tt-dma @tt-asaigal @ubcheema
tt_metal/host_api.hpp @abhullar-tt @pgkeller @aliuTT @tt-aho @tt-dma @tt-asaigal @davorchap
tt_metal/impl/device/ @abhullar-tt @pgkeller @aliuTT @tt-aho @tt-dma @tt-asaigal @ubcheema @davorchap @cfjchu
tt_metal/distributed/ @cfjchu @aliuTT @tt-asaigal
tt_metal/**/requirements*.txt @tt-rkim @TT-billteng @ttmchiou

# metal - dispatch
tt_metal/impl/dispatch/kernels/packet_* @ubcheema @aliuTT
tt_metal/impl/dispatch/kernels/eth_* @ubcheema @aliuTT
# docs/source/tt_metal/apis/host_apis/ @TT-billteng
tests/tt_metal/tt_metal/perf_microbenchmark/routing/ @ubcheema

# metal - fw, llks, risc-v
tt_metal/hw/ckernels/ @rtawfik01 @rdjogoTT @ttmtrajkovic
tt_metal/hw/firmware/**/Makefile @tt-rkim
tt_metal/include/compute_kernel_api.h @davorchap @mywoodstock
tt_metal/include/compute_kernel_api/ @rtawfik01 @rdjogoTT @ttmtrajkovic
tt_metal/include/dataflow_kernel_api.h @davorchap @mywoodstock @ntarafdar
tt_metal/hw/firmware/riscv/common/dataflow_internals.h @davorchap @mywoodstock
tt_metal/hw/firmware/src/*erisc* @aliuTT @ubcheema
tt_metal/hw/inc/ethernet/ @aliuTT @ubcheema
tt_metal/hw/inc/wormhole/eth_l1_address_map.h @aliuTT @ubcheema
tt_metal/third_party/tt_llk_* @rtawfik01 @ttmtrajkovic @rdjogoTT

sfpi/ @pgkeller

# metal - profiler
tt_metal/**/profiler/ @mo-tenstorrent
tt_metal/**/profiler/**/CMakeLists.txt @tt-rkim @mo-tenstorrent
tests/tt_metal/tools/profiler/ @mo-tenstorrent
tt_metal/hostdevcommon/profiler_common.h @mo-tenstorrent
docs/source/performance_measurement_tools/profiler.rst @mo-tenstorrent
tt-metal/tt_metal/programming_examples/profiler @mo-tenstorrent

# test scripts
tests/scripts/run_profiler_regressions.sh @mo-tenstorrent @tt-rkim
tests/scripts/run_performance.sh @tt-rkim

# TTNN
ttnn/ @ayerofieiev-tt @dmakoviichuk-tt @cfjchu @TT-BrianLiu
ttnn/ttnn/library_tweaks.py @ayerofieiev-tt @tt-rkim
ttnn/ttnn/operations/moreh.py @razorback3 @dongjin-na @cfjchu @ayerofieiev-tt @dmakoviichuk-tt
ttnn/**/kernels/ # Removes the owners above from owning kernels unless specified afterwards
ttnn/**/CMakeLists.txt @ayerofieiev-tt @dmakoviichuk-tt @yan-zaretskiy
ttnn/cpp/ttnn/tensor/ @cfjchu @ayerofieiev-tt @dmakoviichuk-tt
ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/ccl/ @SeanNijjar
ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh*/ @razorback3 @dongjin-na @cfjchu @ayerofieiev-tt @dmakoviichuk-tt
ttnn/cpp/ttnn/deprecated/tt_lib/csrc/ @ayerofieiev-tt @razorback3 @dongjin-na

ttnn/cpp/ttnn/operations/moreh*/ @razorback3 @dongjin-na @cfjchu @ayerofieiev-tt @dmakoviichuk-tt
ttnn/cpp/ttnn/operations/ccl/ @SeanNijjar @cfjchu
ttnn/cpp/ttnn/operations/pool/ @mywoodstock @shwetankTT @sankarmanoj-tt @pavlejosipovic
ttnn/cpp/ttnn/operations/conv/ @mywoodstock @shwetankTT @sankarmanoj-tt @pavlejosipovic @bbradelTT
ttnn/cpp/ttnn/operations/sliding_window/ @mywoodstock @sankarmanoj-tt @pavlejosipovic
ttnn/cpp/ttnn/operations/data_movement/ @ntarafdar @sjameelTT @jaykru-tt @yugi957
ttnn/cpp/ttnn/operations/matmul/ @TT-BrianLiu @bbradelTT @yugaoTT
ttnn/cpp/ttnn/operations/experimental/matmul/ @TT-BrianLiu @bbradelTT @yugaoTT
ttnn/cpp/ttnn/operations/eltwise/ @patrickroberts @yan-zaretskiy @eyonland
ttnn/cpp/ttnn/operations/reduction/ @SeanNijjar @ntarafdar @sjameelTT
ttnn/cpp/ttnn/operations/normalization/ @yugaoTT @tt-aho
ttnn/cpp/ttnn/operations/embedding/ @ntarafdar @tt-aho @TT-BrianLiu
ttnn/cpp/ttnn/operations/embedding_backward/ @TT-BrianLiu @yan-zaretskiy
ttnn/ttnn/operations/eltwise @patrickroberts @yan-zaretskiy @eyonland
tests/ttnn/ @ayerofieiev-tt @dmakoviichuk-tt @rfurko-tt @cfjchu @TT-BrianLiu @razorback3 @dongjin-na
tests/ttnn/unit_tests/operations/eltwise/ @patrickroberts @yan-zaretskiy @eyonland
tests/sweep_framework/ @xanderchin @jdesousa-TT @sjameelTT
tests/sweep_framework/sweeps
tests/sweep_framework/sweeps/eltwise/ @patrickroberts @yan-zaretskiy @eyonland
tests/sweep_framework/sweeps/conv2d/  @nkpatel-tt @mywoodstock @shwetankTT @sankarmanoj-tt @pavlejosipovic
tests/sweep_framework/sweeps/data_movement/  @sjameelTT @ntarafdar @jaykru-tt @yugi957

# TTNN Distributed
ttnn/cpp/ttnn/distributed/ @cfjchu @ayerofieiev-tt @dmakoviichuk-tt
ttnn/ttnn/distributed/ @cfjchu @ayerofieiev-tt @dmakoviichuk-tt
tests/ttnn/distributed/ @cfjchu @ayerofieiev-tt @dmakoviichuk-tt

# models
/models/ @tt-rkim @uaydonat
/models/*/**
models/conv_on_device_utils*.py @mywoodstock @shwetankTT @sankarmanoj-tt
functional_*/ @uaydonat @esmalTT
models/demos @uaydonat @tt-rkim
models/demos/metal_BERT_large_11 @tt-aho @TT-BrianLiu
models/demos/wormhole @uaydonat @tt-rkim
models/demos/t3000 @uaydonat
models/demos/llama3 @cglagovichTT @yieldthought @mtairum @uaydonat
models/demos/falcon7b_common @skhorasganiTT @djordje-tt @uaydonat
models/demos/wormhole/mamba @esmalTT @uaydonat @kpaigwar
models/demos/wormhole/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/wormhole/mistral7b @yieldthought @uaydonat @mtairum
models/demos/wormhole/llama31_8b @yieldthought @mtairum @uaydonat
models/demos/wormhole/stable_diffusion @esmalTT @uaydonat @mywoodstock
models/demos/t3000/falcon40b @uaydonat @djordje-tt @johanna-rock-tt
models/demos/t3000/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/t3000/llama2_70b @cglagovichTT @uaydonat @johanna-rock-tt @djordje-tt @kpaigwar
models/demos/t3000/llama3_70b @cglagovichTT @uaydonat @johanna-rock-tt @djordje-tt @kpaigwar
models/demos/t3000/mixtral8x7b @yieldthought @mtairum @uaydonat
models/demos/tg/llama3_70b @cglagovichTT @uaydonat @johanna-rock-tt @djordje-tt @kpaigwar
models/demos/tg/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/grayskull @uaydonat @tt-rkim
models/demos/**/*resnet* @mywoodstock @shwetankTT @tt-aho
models/experimental/functional_unet @esmalTT @uaydonat @mywoodstock
models/perf/ @uaydonat @tt-rkim
models/perf/perf_report.py @yieldthought @uaydonat @tt-rkim
models/perf/benchmarking_utils.py @skhorasganiTT @tt-rkim

# docs
docs/source/ttnn/dependencies/tt_lib.rst @eyonland @patrickroberts @yan-zaretskiy @ayerofieiev-tt
docs/source/ttnn/ @eyonland @patrickroberts @yan-zaretskiy @ayerofieiev-tt @razorback3 @dongjin-na
# docs/source/apis/host_apis/ @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/host_apis2.rst @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/kernel_apis/ @davorchap @pgkeller @tt-rkim
# docs/source/apis/kernel_apis.rst @davorchap @pgkeller @tt-rkim

# misc
tests/**/dtx/ @mywoodstock @sankarmanoj-tt
tests/**/*test*conv*.py @mywoodstock @sankarmanoj-tt
tests/python_api_testing/conv/ @mywoodstock @sankarmanoj-tt
tests/python_api_testing/unit_testing/fallback_ops @tt-aho
tests/ttnn/integration_tests/stable_diffusion @esmalTT @uaydonat @mywoodstock
tests/device_perf_tests/stable_diffusion/test_perf_stable_diffusion.py @esmalTT @uaydonat @mywoodstock
tests/ttnn/integration_tests/unet @esmalTT @uaydonat @mywoodstock
tests/nightly/wh_b0_only_eth/experimental/functional_unet @esmalTT @uaydonat @mywoodstock
scripts/profiler/ @mo-tenstorrent
scripts/docker @ttmchiou @TT-billteng @tt-rkim

dockerfile @ttmchiou @TT-billteng @tt-rkim

tt_metal/CMakeLists.txt @abhullar-tt @pgkeller @aliuTT @tt-aho @tt-dma @tt-asaigal @ubcheema @blozano-tt
ttnn/CMakeLists.txt @ayerofieiev-tt @dmakoviichuk-tt @yan-zaretskiy

#13400: Add data parallel suppport for Whisper Model
  models/demos/wormhole/whisper/README.md
  models/demos/wormhole/whisper/demo/dataset/audio_classification/10116516891483200485.wav
  models/demos/wormhole/whisper/demo/dataset/audio_classification/140291826269534354.wav
  models/demos/wormhole/whisper/demo/dataset/audio_classification/1689242038473278354.wav
  models/demos/wormhole/whisper/demo/dataset/audio_classification/17340315164505628698.wav
  models/demos/wormhole/whisper/demo/dataset/audio_classification/17659141715436566244.wav
  models/demos/wormhole/whisper/demo/dataset/audio_classification/17928171511082320095.wav
  models/demos/wormhole/whisper/demo/dataset/audio_classification/2086639904747050008.wav
  models/demos/wormhole/whisper/demo/dataset/audio_classification/622196158886216764.wav
  models/demos/wormhole/whisper/demo/dataset/audio_classification/7043619860143829064.wav
  models/demos/wormhole/whisper/demo/dataset/audio_classification/9522084197299278725.wav
  models/demos/wormhole/whisper/demo/dataset/conditional_generation/11150113890463037787.wav
  models/demos/wormhole/whisper/demo/dataset/conditional_generation/1298409023920250606.wav
  models/demos/wormhole/whisper/demo/dataset/conditional_generation/17566024285835266239.wav
  models/demos/wormhole/whisper/demo/dataset/conditional_generation/17646385371758249908.wav
  models/demos/wormhole/whisper/demo/dataset/conditional_generation/17659141715436566244.wav
  models/demos/wormhole/whisper/demo/dataset/conditional_generation/17928171511082320095.wav
  models/demos/wormhole/whisper/demo/dataset/conditional_generation/17938133003986293739.wav
  models/demos/wormhole/whisper/demo/dataset/conditional_generation/2842775607363710885.wav
  models/demos/wormhole/whisper/demo/dataset/conditional_generation/6757317816154782558.wav
  models/demos/wormhole/whisper/demo/dataset/conditional_generation/6969469525741631060.wav
  models/demos/wormhole/whisper/demo/demo.py
  models/demos/wormhole/whisper/reference/torch_baseline_whisper.py
  models/demos/wormhole/whisper/reference/torch_functional_whisper.py
  models/demos/wormhole/whisper/tests/test_performance.py
  models/demos/wormhole/whisper/tt/ttnn_functional_whisper.py
  models/demos/wormhole/whisper/tt/ttnn_optimized_functional_whisper.py
  models/experimental/functional_whisper/README.md
  models/experimental/functional_whisper/demo/demo.py
  models/experimental/functional_whisper/tt/ttnn_optimized_functional_whisper.py
  tests/scripts/run_performance.sh
  tests/scripts/single_card/run_single_card_demo_tests.sh
  tests/ttnn/integration_tests/whisper/test_performance.py
  tests/ttnn/integration_tests/whisper/test_ttnn_optimized_functional_whisper.py
Owners: @uaydonat, @tt-rkim, @esmalTT, @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na

#4702: Update test files
  tests/ttnn/python_api_testing/non_working_unit_tests/wormhole/test_eltwise_mul_hang.py
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na

#4702: Change layout for the tests
  tests/ttnn/python_api_testing/non_working_unit_tests/wormhole/test_eltwise_add_hang.py
  tests/ttnn/python_api_testing/non_working_unit_tests/wormhole/test_eltwise_exp_hang.py
  tests/ttnn/python_api_testing/non_working_unit_tests/wormhole/test_eltwise_sub_hang.py
  tests/ttnn/python_api_testing/non_working_unit_tests/wormhole/test_eltwise_tanh_hang.py
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na

#14316: fix bug
  ttnn/cpp/ttnn/operations/full/device/full_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_adamw/device/multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_helper_functions.cpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na

#4702: Update layout for gelu test
  tests/ttnn/python_api_testing/non_working_unit_tests/wormhole/test_eltwise_gelu_hang.py
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na

#14316: change moreh_helper function name
  ttnn/cpp/ttnn/operations/moreh/moreh_adam/device/moreh_adam_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_adamw/device/multi_core_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_cumsum/device/moreh_cumsum_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_getitem/device/moreh_getitem_rm_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_getitem/device/moreh_getitem_tilized_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm/device/moreh_group_norm_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm_backward/device/gamma_beta_grad/moreh_group_norm_backward_gamma_beta_grad_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_group_norm_backward/device/input_grad/moreh_group_norm_backward_input_grad_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_helper_functions.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_helper_functions.hpp
  ttnn/cpp/ttnn/operations/moreh/moreh_layer_norm/device/moreh_layer_norm_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_layer_norm_backward/device/moreh_layer_norm_backward_gamma_beta_grad_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_layer_norm_backward/device/moreh_layer_norm_backward_input_grad_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_matmul/device/moreh_matmul_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/moreh_mean_h_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/moreh_mean_nc_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean/device/moreh_mean_w_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_mean_backward/device/moreh_mean_backward_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm/device/moreh_norm_program_factory_h.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm/device/moreh_norm_program_factory_other.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm/device/moreh_norm_program_factory_w.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_norm_backward/device/moreh_norm_backward_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sgd/device/moreh_sgd_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/softmax_c_large/softmax_c_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/softmax_h_large/softmax_h_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/softmax_h_small/softmax_h_small.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/softmax_w_large/softmax_w_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax/device/softmax_w_small/softmax_w_small.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/softmax_backward_c_large/softmax_backward_c_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/softmax_backward_h_large/softmax_backward_h_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/softmax_backward_h_small/softmax_backward_h_small.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/softmax_backward_w_large/softmax_backward_w_large.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_softmax_backward/device/softmax_backward_w_small/softmax_backward_w_small.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_int_sum_h_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_int_sum_w_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_h_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_nc_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum/device/moreh_sum_w_program_factory.cpp
  ttnn/cpp/ttnn/operations/moreh/moreh_sum_backward/device/moreh_sum_backward_program_factory.cpp
Owners: @razorback3, @dongjin-na, @cfjchu, @ayerofieiev-tt, @dmakoviichuk-tt
